.admin-panel {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .admin-content {
    flex: 1;
    padding: 2rem;
    background: #e44444;
    text-align: center;
    padding-top: 12rem;
  }
  