/* Remove Horizontal Scrolling */
body {
  overflow-x: hidden;
}

/* Carousel Container */
.carousel-container {
  position: relative;
  width: 100%;
}

/* Preventing Carousel from scrolling horizontally */
.slick-slide {
  display: flex !important;
  justify-content: center;
}

/* Footer fixed at the bottom */
footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
   /* Ensure it's on top of other content */
}

.movies-page {
  padding-top: 0px; /* To ensure the content isn't hidden behind the navbar */
  padding-bottom: 50px; /* To ensure content isn't hidden behind the footer */
}
.movies-container {
  margin: 20px;
  padding: 0, 20px !important; 
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movies-page {
  background-color: #121212;
  color: white;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.movie-card {
  margin-bottom: 20px;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2000;
  color: white;
}

