/* Full-page background */
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Full viewport height*/
    background-image: url('https://netflixcloneprojectat.s3.eu-north-1.amazonaws.com/images/Netflix_LinkdinHeader_N_Texture_5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
  /* Centered box styling */
  .signup-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(194, 83, 83, 0.2);
    width: 100%;
    max-width: 400px; /* Limit max width */
    text-align: center;
  }
  
  /* Title styling */
  .signup-title {
    margin-bottom: 1rem;
    color: aliceblue;
  }
  
  /* Input field spacing */
  .signup-input {
    margin-bottom: 1rem;
    background-color: aliceblue;
  }
  
  /* Button styling */
  .signup-button {
    margin-top: 2rem !important;
  }
  